body{
  background-image: url("fondoRed.png");
}
  /*Titulo Principal*/
.contenedorMain{
  display: flex;
  background: #57df9b; /* Azul degradado */
  height: 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  margin-top: 15px;
  margin-bottom: 15px;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
/*Titulo principal*/
.tituloMain{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3rem;
  color: white;
  letter-spacing: 1px;
}
/*icono de titulo*/
.imagenIconMain{
  border-radius: 13px;
}
  .title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    font-size: 22px;
    color: white;
    padding: 10px 20px;
    background: #57df9b;
    border-radius: 8px;
    display: inline-block;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  thead {
    background-color: #007BFF;
    color: white;
  }
  tbody{
    background-color: white;
  }

  th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  tr:hover {
    background-color: #f1f1f1;
  }

  h2, h3 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #040404;
  }


