<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>/</title>
    <link rel="stylesheet" href="/static/css/cssInicio.css">
</head>
<body>
    <div class="encabezadoMain"><!--encabeezado-->
        <div class="conjuntoBrandTitle"><!--conjunto-->
            <div class="brand"><!--brand-->
                <img src="/static/img/brand.png" class="brandImg">
            </div>
            <div class="titulo"><!--titulo-->
                <h1>ManagerNet</h1>
            </div>
        </div>
    </div>
    <div><!--tarjetas-->
        <div class="fila"><!--fila1-->
            <div class="columna1"><!--columna1-->
                <div class="tarjeta">
                    <img src="/static/img/shellAutomationDos.png" alt="" class="imagen">
                    <a href="/shell-automation" class="link">SHELL AUTOMATION</a>
                </div>
            </div>
            <div class="columna2"><!--columna2-->
                <div class="tarjeta">
                    <img src="/static/img/tempElectMainDos.png" alt="" class="imagen">
                    <a href="/control-temperatura" class="link">ESTADO ELECT Y TEMP</a>
                </div>
            </div>
        </div>
        <div class="fila"><!--fila2-->
            <div class="columna1"><!--columna1-->
                <div class="tarjeta">
                    <img src="/static/img/estadoRedMainDos.png" alt="" class="imagen">
                    <a href="/estado-red" class="link">ESTADO RED</a>
                </div>
            </div>
            <div class="columna2"><!--columna2-->
                <div class="tarjeta">
                    <img src="/static/img/estadoPuertosMainDos.png" alt="" class="imagen">
                    <a href="/estado-puertos" class="link">ESTADO PUERTOS DEVICE</a>
                </div>
            </div>
        </div>
        <div class="fila"><!--fila3-->
            <div class="columna1"><!--columna1-->
                <div class="tarjeta">
                    <img src="/static/img/estadoEquipoMainDos.png" alt="" class="imagen">
                    <a href="/estado-equipo" class="link">ESTADO EQUIPO</a>
                </div>
            </div>
            <div class="columna2"><!--columna2-->
                <div class="tarjeta">
                    <img src="/static/img/tablasMainDos.png" alt="" class="imagen">
                    <a href="/tablas" class="link">TABLAS</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>