<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tablas</title>
    <link rel="stylesheet" href="/static/css/cssTablas.css">
    <link rel="stylesheet" href="/static/css/menu.css">
    <script src="/static/js/jsTablas.js" defer></script>
</head>
<body>
    <nav>
        <ul class="menu">
        <li><a href="/">INICIO</a></li>
        <li><a href="/shell-automation">SHELL AUTOMATION</a></li>
        <li><a href="/control-temperatura">ESTADO ELECT Y TEMP</a></li>
        <li><a href="/estado-red">ESTADO RED</a></li>
        <li><a href="/estado-puertos">ESTADO PUERTOS DEVICE</a></li>
        <li><a href="/estado-equipo">ESTADO EQUIPO</a></li>
        <li><a href="/tablas">TABLAS</a></li>
        </ul>
    </nav>
    <main>
        <div class="contenedorMain">
            <h1 class="tituloMain">TABLAS DE BASE DE DATOS</h1>
            <img src="/static/img/tablasMain.png" height="60px" width='60px' class="imagenIconMain">
        </div>
        <h2 class="title">Temperaturas</h2>
        <div id="lista-temperaturas" class="contenedor">

        </div>
        

        <h2 class="title">Estado Equipos</h2>
        <div id="estados-equipos" class="contenedor">

        </div>
    </main>
</body>
</html>